*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.admissionDiv{
    position: absolute;
    top: 20%;
    left: 33%;
    z-index: 2;
    margin: 50px;
}
.admissionDiv input,label,.update,.submit{
    margin: 10px;
    position: relative;
    left: 25px;
}
.admissionDiv form{
    background-color: greenyellow;
    padding: 50px;
    height: auto;
    width: fit-content;
}
.admissionDiv input{
    width: 200px;
    padding: 13px;
    border-radius: 10px;
    border-color: transparent;
}
.admissionDiv label{
    margin-left: 17px;
}
.admissionDiv button{
    margin-left: 20px;
    padding: 10px;
    border-radius: 20px;
    border-color: transparent;
    width: 70px;
    font-weight: bold;
    margin-bottom: 50px;
}
.admissionDiv button:hover{
    background-color: lightblue;
}
.admissionDiv .view{
    position: relative;
    top: 70px;
    width: 125px;
    margin: 0;
    right: 125px;
}
.messageDiv{
    position: absolute;
    top: 15%;
    left: 35%;
    z-index: 2;
}