*{
    margin: 0;
    padding: 0;
}
.updateDiv{
    position: absolute;
    top: 22%;
    left: 38%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    background-color: lightgreen;
    padding: 20px;
}
.updateDiv input{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}
.updateDiv label{
   position: relative;
   right: 100px;
}
.updateDiv button{
    padding: 10px;
    border-radius: 10px;
    border-color: transparent;
    font-size: larger;
    font-weight: bold;
}
.updateDiv button:hover{
   background-color: blue;
}
.status-div{
    position: absolute;
    z-index: 2;
    top: 15%;
    left: 35%;
}