.deleteDiv{
    text-align: center;
    margin-top: 50px;
    background-color: lightgreen;
    width: fit-content;
    position: absolute;
    top: 18%;
    z-index: 2;
    left: 38%;
    padding: 55px;
}
.deleteDiv label{
    margin-right: 145px;
    font-weight: bold;
}
.deleteDiv input{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-color: transparent;
    width: 200px;
}
.deleteDiv button{
    padding: 5px;
    border-radius: 5px;
    border-color: transparent;
    font-weight: bold;
}
.deleteDiv button:hover{
    background-color: lightblue;
}
.headerDiv{
    text-align: center;
    position: absolute;
    z-index: 2;
    left: 38.5%;
    top: 8%;
    color: black;
}
.footerDiv{
    text-align: center;
    position: absolute;
    top: 10%;
    left: 58%;
    z-index: 2;
}